{{ define "main" }}
  {{ partial "page-header" . }}

<style>
  #bd-email {
    --bd-bg: #ffffff;
    --bd-fg: #111827;
    --bd-border: #d1d5db;

    width: 100%;
    max-width: 24rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--bd-border);
    background-color: var(--bd-bg);
    color: var(--bd-fg);
    font: inherit;
  }
  .dark #bd-email {
    --bd-bg: #4b4b4b;
    --bd-fg: #f3f4f6;
    --bd-border: #f3f4f6;
  }
</style>

  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- blog posts -->
        <div class="lg:col-8">
          <div class="row">
            {{ $pages := sort (where .Site.RegularPages "Section" "blog") "Date" "desc" }}
            {{ $paginator := .Paginate $pages }}
            {{ range $index, $page := $paginator.Pages }}
              <div class="md:col-6 mb-14 flex">
                {{ partial "components/blog-card" $page }}
              </div>
            {{ end }}
          </div>
          {{ partial "components/pagination.html" . }}
        </div>
        <!-- sidebar -->
        <div class="lg:col-4">
          <!-- Email subscribe -->
          <div class="mb-8">
            <h5 class="mb-6">Get Notified</h5>
            <small>Get notified by email when I publish new posts.</small>
            <div class="bg-light dark:bg-darkmode-light rounded p-8">
              <form action="https://buttondown.com/api/emails/embed-subscribe/mpasqualone" method="post" class="embeddable-buttondown-form">
                  <div class="mb-6">
                      <label for="bd-email" class="form-label">Your email <span class="text-red-500">*</span></label>
                      <input id="bd-email" name="email" class="form-input" type="text">
                  </div>
                  <button type="submit" class="btn btn-primary" value="Subscribe">Subscribe</button>
              </form>
            </div>
          </div>
          <!-- widget -->
          {{ $widget:= site.Params.widgets.sidebar }}
          {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
        </div>
      </div>
    </div>
  </section>
{{ end }}